<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savor.resturant">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 获取设备imie序列号生成deviceid -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 普通 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 百度定位权限 -->
    <application
        android:name=".SavorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.savor.resturant.utils.CustomCachingGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="w7gvub" />
        <!-- 在这里定义共享信息 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.savor.resturant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="app_debug"
            android:value="1" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1232aa8f4a9d63a4000121" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="oppd0opu" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SlideListActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SlideDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SlidePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.VideoShareActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.PhotoSelectActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.LocalVideoProAcitvity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".activity.PhotoShareActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".activity.ImageGalleryActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".activity.ImageEditActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileProHelpActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.SSDPService"
            android:label="SearchSPService" />
        <service
            android:name=".service.LocalJettyService"
            android:label="CoreService" />
        <service
            android:name=".service.ClearImageCacheService"
            android:label="ClearCacheService"
            android:process=":recycle" />
        <!-- service end -->

        <service
            android:name=".service.UpLoadLogService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ReRequestService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.savor.resturant.service.action.request" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginForCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelComeSetTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelComeSetBgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LinkTvActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.RecommendFoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SavorMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactCustomerListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.AddCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.SpendHistoryAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.LabelAddActivity"></activity>
        <activity
            android:name=".activity.BookListByDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddRemarkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BookInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UpDateBookActivity"
            android:screenOrientation="portrait" />





    </application>

</manifest>